.slider-container {
  width: 100%;
  height: 100%;
}

.slider-container .control.vertical {
  height: 350px;
}

.slider.vertical {
  -webkit-appearance: slider-vertical;
  -moz-appearance: slider-vertical;
  appearance: slider-vertical;
  width: auto;
  height: auto;
}

.control {
  overflow: hidden;
}

.fader {
  position: relative;
  /*border: 1px solid red;*/
  display: inline-flex;
  width: 350px;
  height: 40px;
  /*background: red;*/
  /*transform: rotate(-90deg);*/
}

.fader.vertical {
  transform: rotate(-90deg);
  top: calc(350px / 2 - 20px);
  /*left: calc(-350px / 3 + (36px / 4));*/
  left: -155px;
}

.more .fader.vertical {
  top: calc(350px / 2 - 18px);
  left: calc(-350px / 2 + 50%);
}

.range {
  width: calc(100% - 4px);
  height: 100%;
  -webkit-appearance: none;
  /*background: #52473b;*/
  background: #313131;
  border: 1px solid #060606;
  overflow: hidden;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0,1);
}
.range.danger {
  animation:scale .3s infinite alternate ease-in-out;
}

.range .level {
  min-width: 0;
  height: 40px;
  border-radius: 0;
  background: none;
  border: none;
  position: relative;
  /*background: #52473b;*/
  background: #ccc;
}

.range.danger .level {
  background: var(--theme-main);
}

.label {
  position: relative;
  text-align: center;
  background: #e1e1e1;
  color: #060606;
  padding: 8px 0;
  border-radius: 4px;
}

.label.bottom {
  margin-top: 10px;
  top: 10px;
}

@keyframes scale {
  from { transform: scale(1); }
  to { transform: scale(0.975); }
}
