<div class="content-container">
  <div class="loading card-color" style="text-align:center;position:relative;top:120px;" *ngIf="loading"><h1>Loading...</h1></div>

  <app-no-controller *ngIf="!loading && (!controllers || controllers.length === 0)"></app-no-controller>

  <div class="main-container">
    <div cdkDrag (cdkDragMoved)="onDragMoved($event, item)" (cdkDragEnded)="onDragEnd($event, item)"
         [cdkDragFreeDragPosition]="dragPosition" *ngFor="let item of controllers" class="item-container"
         mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event, item)" (resizing)="onResize($event, item)"
         [ngClass]="getClasses(item)" [style]="getProperties(item)" (click)="clicked($event, item)">

      <div class="resize-handle-top" mwlResizeHandle [resizeEdges]="{ top: true }"></div>
      <div class="resize-handle-left" mwlResizeHandle [resizeEdges]="{ left: true }"></div>
      <div class="resize-handle-right" mwlResizeHandle [resizeEdges]="{ right: true }"></div>
      <div class="resize-handle-bottom" mwlResizeHandle [resizeEdges]="{ bottom: true }"></div>

      <div class="drag-controller" cdkDragHandle>
        <app-label *ngIf="item.type === 'label'" [item]="item"></app-label>
        <app-slider *ngIf="item.type === 'fader'" [item]="item"></app-slider>
        <app-button *ngIf="item.type === 'button'" [item]="item"></app-button>
        <app-meter *ngIf="item.type === 'meter'" [item]="item"></app-meter>
        <app-image *ngIf="item.type === 'image'" [item]="item"></app-image>
        <app-page-item *ngIf="item.type === 'page'" [item]="item"></app-page-item>
        <!--<button class="test-btn" *ngIf="item.type === 'fader'" (click)="randomValue(item, 0, 65535)">DO</button>-->
      </div>
    </div>
  </div>
</div>
