<h1 *ngIf="item.tag === 'h1'" [style]="getStyle()">{{ item.value }}</h1>
<h2 *ngIf="item.tag === 'h2'" [style]="getStyle()">{{ item.value }}</h2>
<h3 *ngIf="item.tag === 'h3'" [style]="getStyle()">{{ item.value }}</h3>
<h4 *ngIf="item.tag === 'h4'" [style]="getStyle()">{{ item.value }}</h4>
<h5 *ngIf="item.tag === 'h5'" [style]="getStyle()">{{ item.value }}</h5>
<h6 *ngIf="item.tag === 'h6'" [style]="getStyle()">{{ item.value }}</h6>
<p *ngIf="item.tag === 'p'" [style]="getStyle()">{{ item.value }}</p>
<div *ngIf="item.tag === 'div'" [style]="getStyle()">{{ item.value }}</div>
