nav {
  display:flex;
  align-items:center;
  padding:0 15px;
  background: var(--primary);
  height: 50px;
  justify-content: center;
}

nav a {
  display: block;
  color: var(--contrast);
  text-decoration: none;
  line-height: 50px;
  padding: 0 10px;
  min-width: 100px;
  text-align: center;
}
nav a:hover {
  background: var(--primary-lighter40);
}

nav a.active {
  background: var(--primary-light);
}

nav h2 {
  margin-right: auto;
  color: var(--contrast);
}
