<ng-container *ngIf="item">
  <div class="slider-container" [ngClass]="{'vertica': item.vertical, 'more': item.more}">
    <div class="label" [ngClass]="{'top': item.vertical, 'no-meter': item.noMeter}" *ngIf="item.labelPosition && item.labelPosition !== 'none' && item.labelPosition === 'top'">
      {{ item.label }} {{ item.type === 'meter' ? '(meter)' : ''}}
    </div>
    <div class="control" [ngClass]="{'vertical': item.vertical}">
      <div class="fader" [ngClass]="{'vertical': item.vertical}" style="{{ item.childLeft ? 'left:' + item.childLeft : '' }}">
<!--        <div>{{ value }}</div>-->
        <input class="range" type="range" #slider (input)="input($event, item)" [min]="item.min" [max]="item.max" [value]="item.current_value">
      </div>
    </div>
    <div class="level" *ngIf="item.showPercentage">
      {{ percentage(item.current_value) + '%' }}
    </div>
    <div class="label" [ngClass]="{'bottom': item.labelPosition && item.labelPosition === 'bottom', 'no-meter': item.noMeter}" *ngIf="item.labelPosition && item.labelPosition !== 'none' && item.labelPosition === 'bottom'">
      {{ item.label }} {{ item.type === 'meter' ? '(meter)' : ''}}
    </div>
  </div>
</ng-container>


