<div class="backdrop hide" [ngClass]="{'hide': !showForm}" (click)="closeTheForm()"></div>
<div class="form-container" [ngClass]="{'hide': !showForm}">
  <h2 class="f-center">Add New Page</h2>
  <form action="#" [formGroup]="pageForm" (submit)="submitTheForm()">
    <div class="form-control">
      <input type="text" name="title" placeholder="Page name" formControlName="title" required minlength="2" (change)="generateSlug()">
      <input type="hidden" name="slug" formControlName="slug" [value]="generatedSlug">
    </div>
    <div class="form-control">
      <input type="text" name="icon" placeholder="Icon class name (optional)" formControlName="icon">
    </div>
    <div class="form-control">
      <select name="active" formControlName="active">
        <option value="true" selected>Active</option>
        <option value="false">Inactive</option>
      </select>
    </div>
    <div class="container">
      <div class="col">
        <button type="button" (click)="closeTheForm()">Cancel</button>
      </div>
      <div class="col">
        <button type="submit" class="primary" [disabled]="!pageForm.valid">Add</button>
      </div>
    </div>
  </form>
</div>
