.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .75);
  /*backdrop-filter: blur(5px);*/
  /*-webkit-backdrop-filter: blur(5px);*/
  height: 100vh;
  transition: .2s all;
  z-index: 1;
}
.hide {
  z-index: -1 !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.form-container {
  z-index: 1;
  position: fixed;
  background: #EEE;
  padding: calc(var(--padding-x1) * 1.5) calc(var(--padding-x1) * 1.5);
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  overflow: auto;
  width: 50%;
  max-width: 300px;
}
.form-container h2 {
  font-size: 1rem;
}
.form-container > form {
  padding: 0;
  margin: 0;
}
.form-container > form input,
.form-container > form select {
  display: block;
  border: none;
  border-bottom: 1px solid var(--primary-light60);
  padding: calc(var(--padding-x1) / 1.5);
  margin: 0;
  font-family: inherit;
  width: 100%;
}
.form-container > form button {
  display: block;
  border: 1px solid var(--primary-light);
  width: 100%;
  padding: calc(var(--padding-x1) / 1.5);
  cursor: pointer;
}

.form-container > form button.primary {
  background: var(--primary);
  color: var(--contrast)
}

.form-container > form .col {
  width: 50%;
}

.form-container > form .col:first-child {padding-right:calc(var(--padding-x1)/2);}
.form-container > form .col:last-child {padding-left:calc(var(--padding-x1)/2);}

.form-container > form > .form-control {
  display: block;
  margin: calc( var(--padding-x1) ) 0;
}
